<md-content layout="column">
    <md-toolbar layout="row" md-scroll-shrink="true">
        <div class="md-toolbar-tools blue">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleNav()">
                <md-tooltip class="fgallery-tooltip">Die Liste aller Galerien anzeigen.</md-tooltip>
                <md-icon md-svg-icon="/icons/menu.svg" />
            </md-button>
            <span id="title-gallery">Fotogalerie</span>
            <span id="current-gallery" hide show-xl>
                    {{currentDir | slashify}}
            </span>
            <span flex></span>
            <span>
                <md-tooltip class="fgallery-tooltip">Musik ein- oder ausschalten</md-tooltip>
                <input id="sound" type="checkbox" ng-model="sound" ng-change="soundSwitch()"><label for="sound">Musik</label>
            </span>
            <span>
                <md-tooltip class="fgallery-tooltip">Lautstärke</md-tooltip>
                <md-slider ng-model="volume" min="0" max="100" ng-change="soundVolume()">
                </md-slider>
            </span>
            <md-button ng-click="toggleFullscreen()">
                <md-tooltip class="fgallery-tooltip">Vollbildmodus wechseln.</md-tooltip>
                <md-icon md-svg-src="/icons/filter-none.svg"></md-icon>
            </md-button>
            <md-button ng-click="shutdown()">
                <md-tooltip class="fgallery-tooltip">Ausschalten.</md-tooltip>
                <md-icon md-svg-src="/icons/power.svg"></md-icon>
            </md-button>

        </div>
    </md-toolbar>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h3>Alle Galerien</h3>
        </div>
    </md-toolbar>
    <md-content ng-repeat="directory in galleries">
        <md-button ng-click="getFiles(directory.path)">
            <md-tooltip class="fgallery-tooltip" md-direction="right">Die Galerie <span class="gallery-name">{{directory.name}}</span> öffnen.</md-tooltip>
            <md-icon md-svg-icon="/icons/photo_library.svg"></md-icon>
            {{directory.name}}
        </md-button>
    </md-content>
</md-sidenav>

<div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<md-content layout-padding>
    <md-grid-list
    md-cols-gt-md="8" md-cols="3" md-cols-md="8"
    md-row-height-gt-md="1:1" md-row-height="4:3"
    md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
        <md-grid-tile class="fgallery-clickable"
        ng-repeat="file in files | filter: {type: currentFilter} || !currentFilter"
        md-colspan-gt-sm="1"
        md-rowspan-gt-sm="1"
        ng-style="getBackgroundImage(file.thumb)"
        ng-click="showPanel(file)">
            <md-grid-tile-footer class="fgallery-tile-footer">
                <md-icon md-svg-icon="/icons/{{file.type}}.svg" />
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>