<md-content layout="column">
  <md-toolbar layout="row" md-scroll-shrink="true">
    <div class="md-toolbar-tools blue">
      <span id="title-gallery">Gallery</span>
      <span flex></span>
    </div>
  </md-toolbar>
</md-content>
<div layout="column" layout-align="center center" ng-controller="LoginController as ctrl">
  <form name="login" ng-submit="performLogin()">
    <md-input-container class="md-block">
      <label>Username</label>
      <input required md-no-asterisk name="username" ng-model="username">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Password</label>
      <input type="password" required md-no-asterisk name="password" ng-model="password">
    </md-input-container>
    <div>
      <md-button type="submit">LOGIN</md-button>
    </div>
  </form>
</div>