<div role="dialog" aria-label="Photo" layout="column" layout-align="center center">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>{{ctrl.nameonly}}</h2>
        </div>
        <md-button ng-click="ctrl.navigate(ctrl.file.prev)" aria-label="Previous" ng-if="ctrl.file.prev">
            <md-tooltip class="fgallery-tooltip" md-direction="bottom">Vorhergehendes Bild</md-tooltip>
            <md-icon md-svg-icon="/icons/back.svg"></md-icon>
        </md-button>
        <md-button ng-click="ctrl.navigate(ctrl.file.next)" aria-label="Next" ng-if="ctrl.file.next">
            <md-tooltip class="fgallery-tooltip" md-direction="bottom">Nächstes Bild</md-tooltip>
            <md-icon md-svg-icon="/icons/next.svg"></md-icon>
        </md-button>
        <md-button ng-click="ctrl.close()" aria-label="Close">
            <md-tooltip class="fgallery-tooltip" md-direction="bottom">Schließen</md-tooltip>
            <md-icon md-svg-icon="/icons/close.svg"></md-icon>
        </md-button>
    </md-toolbar>
    <div class="fgallery-clickable" layout="column" >
        <md-tooltip class="fgallery-tooltip">Nächstes Bild oder Video.</md-tooltip>
        <img flex class="photo-panel-img" alt="photo" ng-src="{{ctrl.file.name}}" ng-click="ctrl.navigate(ctrl.file.next)" ng-show="ctrl.file.type == 'image'">
        <video flex class="photo-panel-img" alt="video" ng-src="{{ctrl.file.name}}" ng-click="ctrl.navigate(ctrl.file.next)" ng-show="ctrl.file.type == 'video'" controls>
    </div>
</div>