body {
    font-family: 'Roboto', sans-serif;
}

#title-gallery {
    font-size: 22px;
}
#current-gallery {
    font-size: 16px;
    padding-left: 16px;
    text-transform: uppercase;
}

/* Photo panel */
.photo-panel {
    background-color: #eee;
}

.photo-panel-img {
    max-width: 100%; 
    height: auto;
    cursor: pointer;
}