body {
    font-family: 'Roboto', sans-serif;
}

#title-gallery {
    font-size: 22px;
}
#current-gallery {
    font-size: 16px;
    padding-left: 16px;
    text-transform: uppercase;
}

.active-filter {
    background-color: rgba(255, 222, 121, 0.96);
}


/* Photo panel */
.photo-panel {
    min-height: 500px;
    background-color: #eee;
    min-width: 600px;
}

.photo-panel-img {
    max-width: 100%; 
    height: auto;
    cursor: pointer;
}